
  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Inter:wght@300;400;500;600;700;800&family=Libre+Bodoni:wght@400;500;600;700&family=PT+Serif:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Public+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,400&family=Rancho&family=Roboto+Condensed:wght@400;700&family=Roboto+Mono:wght@300;400&family=Roboto:wght@500&family=Staatliches&family=Yeseva+One&display=swap');

  
  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600&family=Inter:wght@300;400;500;600;700;800&family=Libre+Bodoni:wght@400;500;600;700&family=PT+Serif:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Public+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,400&family=Rancho&family=Roboto+Condensed:wght@400;700&family=Roboto+Mono:wght@300;400&family=Roboto:wght@500&family=Staatliches&family=Yeseva+One&display=swap');

 
  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600&family=Inter:wght@300;400;500;600;700;800&family=Libre+Bodoni:wght@400;500;600;700&family=PT+Serif:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Public+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,400&family=Raleway:wght@600;700&family=Rancho&family=Roboto+Condensed:wght@400;700&family=Roboto+Mono:wght@300;400&family=Roboto:wght@500&family=Staatliches&family=Yeseva+One&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600&family=Great+Vibes&family=Inter:wght@300;400;500;600;700;800&family=Libre+Bodoni:wght@400;500;600;700&family=PT+Serif:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Public+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,400&family=Raleway:wght@600;700&family=Rancho&family=Roboto+Condensed:wght@400;700&family=Roboto+Mono:wght@300;400&family=Roboto:wght@500&family=Staatliches&family=Yeseva+One&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600&family=Great+Vibes&family=Inter:wght@300;400;500;600;700;800&family=Libre+Bodoni:wght@400;500;600;700&family=PT+Serif:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Public+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&family=Roboto+Condensed:wght@400;700&family=Roboto+Mono:wght@300;400&family=Roboto:wght@500&family=Staatliches&family=Yeseva+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap')
;

@font-face {
    font-family: Versatylo;
    src: url(text/VersatyloRounded/OpenType-PS/VersatyloRounded.otf);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background:#f4fbf1;
    flex-direction: column;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 0.5rem;
}
::-webkit-scrollbar-track{
    background:#f4fbf1 ;
}
::-webkit-scrollbar-thumb{
    background: #244d4d;
}
.onload{
    width: 100%;
    height: 100dvh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    animation-name: onload;
    animation-duration: 3s;
}
@keyframes onload{
    0%,50%{
        background: #244d4d;
        z-index: 10;
    }
    100%{
        background: transparent;
        z-index: 0;
    }
}
.onload-text{
    z-index: 0;
    height: 100dvh;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    animation-name: onloadText;
    animation-duration: 2.8s;
}
.onload-text{
    font-family: "DM Serif Display", serif;
    font-size: clamp(4rem,4vw,8rem);
    color: #fff;
}
.onload-img{
    height: 100rem;
    object-fit: contain;
    width: 100rem;
}
@keyframes onloadText{
    0%,50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.onload-shutter{
    width: 50%;
    height: 100%;
    position: relative;
}
.onload-shutter::before{
    content: '';
    position: absolute;
    left: 50%;
    z-index: 0;
    animation-name: onload-bg;
    animation-duration: 3s;
    top: 0;
    background: transparent;
    width: 100%;
    height: 100%;
}
.onload-shutter::after{
    content: '';
    position: absolute;
    right: 50%;
    animation-name: onload-bg;
    animation-duration: 3s;
    top: 0;
    z-index: 0;
    background: transparent;
    width: 100%;
    height: 100%;
}
@keyframes onload-bg{
    0%,50%{
        width: 0;
        background: #fff;
        z-index: 999;
    }
    100%{
        width: 100%;
        z-index: 0;
    }
}
.onload-img{
    width: 4rem;
    object-fit: contain;
    height: 4rem;
}
.sub-head-left{
    font-family: "Jost", sans-serif;
    color: #244d4d;
    font-size: 0.9rem;
}
.telephone{
    font-family: "Jost", sans-serif;
    color: #244d4d;
    font-size: 0.9rem;
    text-decoration: none;
    transition: color .6s ease;

}
.telephone:hover{
    color: #f60;
}
.register-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.slash{
    color: #244d4d;
}
.register-block-links{
    color: #1b2c3e;
    font-size: 0.9rem;
    font-family: "Jost", sans-serif;
    text-decoration: none;
    transition: color .6s ease;
}
.register-block-links:hover{
    color: #f60;
}
.head-logo{
    font-family: "DM Serif Display", serif;
    display: flex;
    justify-content: first baseline;
    align-items: end;
    font-size: 4rem;
    gap: 0.5rem;
    color: #244d4d;
}
.head-logo-img{
    height: 3rem;
    width: 3rem;
}
.head-logo-txt{
        font-size: 1.8rem;
    font-family: "DM Serif Display", serif;
    color: #244d4d;
}
.nav-item-link{
    /* font-family: Versatylo; */
    text-transform: capitalize;
    font-family: "DM Serif Display", serif;
    
}

#active{
    color: #f60;
    opacity: 1;
}
.navbar-nav .nav-item .nav-link{
    color: #232323;
    font-size: 1.2rem;
    opacity: 1;
    transition: color .5s ease-in-out;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #f60;
}
.nav-icon{
    color: #fff;
}
.pages-nav-block{
    position: relative;
  }
  .dropdown-icon{
    font-size: 0.8rem;
  }
.pages-nav-block-dropdown{
    display: none;
  }
.drop-flex{
    display: flex ;
    background: #f1f1f1;
    position: absolute;
    margin-left: -2rem;
    border-radius: 0.75rem;
    /* gap: 1rem; */
   padding-left: 0.62rem;
   width: 12.5rem;
   padding-top: 0.93rem;
   padding-bottom: 0.93rem;
    max-width: 12.5rem;
    flex-direction: column;
  }
.pages-nav-block-dropdown-link{
    text-decoration: none;
    font-family: 'DM Serif Display', sans-serif;
      color: #232323;
      font-size: 1rem;
      padding: 0.62rem;
      display: block;
      font-weight: 400;
      transition: color .5s ease-in-out;
  }
.pages-nav-block-dropdown-link:hover{
    color: #f60;
  }
.first{
    position: relative;
    left: 0;

    top: 0;
    background: #f4fbf1;
    
    height:fit-content;
    /* justify-content:center;
    align-items: center;
    overflow: hidden;
    border: none;
    display: flex; */
    z-index: 1;
    width:100%;
}
.text{
    background: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    align-items: left;
    text-align: left;
    height: fit-content;
    justify-content: center;
}

.text h1{
  color: #244d4d;
  font-size:3.625rem;
  font-weight: 500;
  font-family: "DM Serif Display", serif;
  animation-name: textUp;
  line-height: 4.3rem;
  animation-duration: 3.5s ;
    position: relative;
   
}

@keyframes textUp{
    0%,50%{
        transform: translateY(80px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

h1 .gold{
  
    font-family: "DM Serif Display", serif;

}
.text h4{
    
    font-size: 1rem;
    color:#595959;
    line-height: 1.75rem;
    margin-top: 0.7rem;
    font-family: "Jost", sans-serif;
    letter-spacing: 1px;
    animation-name: textmainUp;
    animation-duration: 3.8s ;
  
 
   
    font-weight: 400;
}
@keyframes textmainUp{
    0%,50%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.text-about{
    height: fit-content;
    background: #244d4d;
    color: #Fff;
    border-radius: 0.1rem;
    padding: 0.8rem 1.7rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    animation-name: textmainUp;
    animation-duration: 3.8s ;
    align-items: center;
    margin-top: 3dvh;
    border: none;
    position: relative;
    transition: transform .7s ease-in-out;
    width: fit-content;
}
.text-about-txt{
    font-family: "Jost", sans-serif;
    text-transform: capitalize;
    z-index: 1;
    color: #fff;
}

.text-about:hover{
    transform: translateY(-7px);
}
.text-social{
    display: flex;
    margin-top: 5dvh;
    gap: 1rem;
}
.social-box{
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0.5rem;
    border-radius: 50%;
    background: #eee;
    transition: background .5s ease-in-out;
}
.social-box:hover{
    background:#000;
}
.social-icon{
    color: #000;
}
.social-box:hover .social-icon{
    color: #fff;
}
.img-box{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadein;
    animation-duration: 4s;
    overflow: hidden;
    position: relative;
}
.first-img-box{
    width: 100%;
    height: fit-content;
}

.first-img{
    height: 100%;
    z-index: 10;
    width: 100%;
    z-index: 0;
    object-fit: cover;   

}


@keyframes fadein{
    0%,50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.second{
    position: relative;

    background: #f4fbf1;
}
.second-left{
    width: 100%;
}
.second-left-h2{
    width: 100%;
    font-family: "DM Serif Display", serif;
    color: #232323;
    font-size: 1.75rem;
    max-width: 444px;
    line-height: 2.625rem;
    height: fit-content;
}
.second-left-highlight{
    font-family: "DM Serif Display", serif;
    color: #244d4d;
}
.second-right{
    width: 100%;
    height: fit-content;
}
.second-img-1{
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}
.img-overlay{
    height: 100%;
    width: 0%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    animation-name: imgoverlay;
        animation-duration: 4.2s;
    background: #244d4d;
}
@keyframes imgoverlay{
    0%,50%{
        width: 100%;
        z-index: 2;
    }
    100%{
        z-index: 0;
        width: 0;
    }
}
.welcome{
    background: #fff;
    height: fit-content;
    width: 100%;
    z-index: 1;
}
.welcome-left{
    width: 100%;
    
    display: flex;
    padding: 1rem 1rem;
    flex-direction: column;
}
.welcome-title{
    font-size: 1rem;
    color: #595959;
    letter-spacing: 1.5px;
    font-family: "Jost", sans-serif;
    text-transform: uppercase;
}
.welcome-h2{
    font-size:3.5rem;
    margin-bottom: 1.9rem;
    line-height: 4.12rem;
    font-family: "DM Serif Display", serif;
    color: #244d4d;
}
.welcome-main{
    margin-bottom: 0px;
    font-family: Jost, sans-serif;
    color: #595959;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.4px;
}
.welcome-contact-title{
    margin-top: 1.9rem;
    font-size: 2rem;
    font-family: "DM Serif Display", serif;
    line-height: 2.25rem;
    color: #244d4d;
}
.welcome-contact{
    display: inline-block;
    font-family: "DM Serif Display", serif;
    font-size: 2rem;
    border-bottom: 1px solid #244d4d;
    width: fit-content;
    text-decoration: none;
    color: #244d4d;
    transition: color .6s ease;
    line-height: 1.75rem;

}
.welcome-contact:hover{
    color: #f60;
}
.welcome-btn{
    background: #244d4d;
    border: none;
    margin-top: 1.9rem;
    color: #fff;
    font-family: "Jost", sans-serif;
    height: fit-content;
    padding: 0.8rem 1.7rem;
    font-size: 1rem;
    transition: transform .7s ease-in-out;
    font-weight: 500;
    width: fit-content;
}
.welcome-btn:hover{
    transform: translateY(-7px);
}
.welcome-right{
    position: relative;
height: 100vh;
width: 100%;
display: flex;
    flex-direction: column;

}
.right-img-box{
    width: 100%;
    position: relative;
    height: fit-content;
}
.right-img-1-box{
    z-index: 10;
    display: flex;
    justify-content: end;
    align-items: last baseline;
}

.right-img-1{
    margin-left: 6rem;
    width: 80%;
    max-width: 100%;
    object-fit: contain;
    /* aspect-ratio: 1/1; */
}
.right-img-2{
    margin-top: -6rem;
    object-fit: contain;
    aspect-ratio: 1/1;
    width: 50%;
   z-index: 1;
}

.services{
    width: 100%;
    background: #fff;
    height: fit-content;
    z-index: 1;
}
.service-title-block{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.service-h2{
    font-family: "DM Serif Display", serif;
    color: #244d4d;
    margin-bottom: 1.9rem;
    font-size: 3.5rem;
    line-height: 4.12rem;
}
.service-main{
    /* max-width: 500px; */
    width: 100%;
    color: #595959;
    font-family: "Jost", sans-serif;
    font-size: 1.1rem;
    line-height: 1.75rem;
    letter-spacing: 0.4px;
}
.service-box{
    /* background: #000; */
    width: 100%;
    height: fit-content;
}
.service-img-box{
    height: fit-content;
    width: 100%;
    /* background: #1b2c3e; */
}
.service-box-img{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}
.service-box-text{
    display: flex;
    margin-top: 3dvh;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: first baseline;
    height: fit-content;
}
.service-box-text-head{
    font-size: 1.9rem;
    margin-bottom: 0.9rem;
    line-height: 2rem;
    font-family: "DM Serif Display", serif;
    color: #244d4d;
    transition: color .6s ease;
}
.service-box-text-head:hover{
    color: #f60;
}
.service-box-text-main{
    font-size: 1.1rem;
    font-family: "Jost", sans-serif;
    
    line-height: 1.75rem;
    color: #595959;
    letter-spacing: 0.4px;
}
.projects{
    width: 100%;
    height: fit-content;
    z-index: 1;
    background: url('image/project-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.project-img-1{
    width: 100%;
    object-fit: cover;
}
.project-left{
    position: absolute;
    right: 0%;
    margin-bottom: 2rem;
    margin-right: 2rem;
    bottom: 0%;
    /* transform: translate(-50%,-50%); */
    /* margin: auto auto; */
    background: #f4fbf1;
    padding: 2.1rem 1.25rem 2.1rem 1.9rem;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: center;

    z-index: 1;
    background-position: 50% 50%;
    background-size: cover;
    background: url('image/project-left.png');
    background-repeat: no-repeat;
    height: fit-content;
    /* max-width: 370px; */
    /* width: 100%; */
    /* max-width: 447px; */
}
.project-left-link{
    max-width: 100%;
    display: inline-block;
    margin-right: 0.5rem;
    text-decoration: none;

}
.project-left-h3{
    color: #232323;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2.25rem;
    font-family: "DM Serif Display", serif;
    font-size: clamp(1.2rem,3vw,2rem);
    transition: color .6s ease;

}
.project-left-h3:hover{
    color: #244d4d;
}
.project-left-main{
    font-family: "Jost", sans-serif;
    letter-spacing: 0.4px;
    line-height: 1.75rem;
    font-size: clamp(0.9rem,2vw,1.1rem);
    color: #595959;
}
.project-right{
    display: flex;
    flex-direction: column;
}
.project-right-title-block{
    display: flex;
    gap: 0.9rem;
    justify-content: center;
    align-items: center;
}
.project-right-title{
    width: fit-content;
}
.project-right-h2{
    font-family: "DM Serif Display", serif;
    color: #244d4d;
    margin-bottom: 1.9rem;
    font-size: 3.5rem;
    line-height: 4.12rem;
    width: fit-content;
}
.project-right-images{
    width: 100%;
    height: fit-content;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-right-img-box{
    width: 40%;
    max-width: 100%;
    height: fit-content;
    /* display: flex;
    justify-content: end;
    align-items: last baseline; */
  
    overflow: hidden;
}
.project-right-img-box:hover .project-right-img{
    transform: scale(1.2);
}
.project-right-img{
object-fit: contain;
transition: transform .6s ease;
}
.project-wrapper{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0rem;
}
.project-wrapper-box{
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;

}
.project-wrapper-h3{
    font-family: "DM Serif Display", serif;
    font-size: 3.5rem;
    color: #244d4d;
}
.project-wrapper-main{
    color: #595959;
    font-family: "Jost", sans-serif;
    letter-spacing: 0.4px;
    line-height: 1.75rem;
    font-size: clamp(0.9rem,2vw,1.1rem);

}
.wrapper-first{
    border-right: 2px dotted #d9d9d9;
    border-bottom: 2px dotted #d9d9d9;
}
.wrapper-second{
    border-bottom: 2px dotted #d9d9d9;
}
.wrapper-third{
    
    border-right: 2px dotted #d9d9d9;
}
.project-img-wrapper{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: fit-content;
}
.project-img-wrapper:hover .project-img-wrapper-img{
transform: scale(1.2);

}
.project-img-wrapper-img{
    object-fit: contain;
    transition: transform .6s ease;
}
.happy-customer{
    background: #fff;
    width: 100%;
    height: fit-content;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.happy-customer-left{
    height: fit-content;
    width: 100%;
    background: transparent;
}
.happy-customer-left-h2{
    font-family: "DM Serif Display", serif;
    color: #244d4d;
    margin-bottom: 1.9rem;
    font-size: 3.5rem;
    line-height: 4.12rem;
}
.happy-customer-left-main{
    max-width: 500px;
    color: #595959;
    font-family: "Jost", sans-serif;
    font-size: 1.1rem;
    line-height: 1.75rem;
    letter-spacing: 0.4px;
}
.happy-customer-left-btn{
    background: #244d4d;
    border: none;
    margin-top: 1.9rem;
    color: #fff;
    font-family: "Jost", sans-serif;
    height: fit-content;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    transition: transform .7s ease-in-out;
    width: fit-content;
}
.happy-customer-left-btn:hover{
    transform: translateY(-7px);
}
.happy-customer-left-wrapper{
    height: fit-content;
    display: flex;
    align-items: end;
    justify-content:first baseline;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
}
.happy-customer-left-wrapper-box{
    height: fit-content;
    width: 50%;
}
.happy-customer-left-wrapper-img{
    width: 100%;
}
.happy-customer-right{
    height: fit-content;
    width: 100%;
}
.slider{
    height: fit-content;
}
.slides{
    height: fit-content;
    width: 100%;
    z-index: 1;
}

.priv_arrow{
    position: absolute;
    right: 20%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #d9d9d9;
    bottom: 0%;
    transform: translateY(-50%);
    transition: background .6s ease;
    z-index: 1;
}
.priv_arrow:hover{
    background: #244d4d;
}

.next_arrow{
    position: absolute;
transform: translateY(-50%);
    right: 5%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background .6s ease;
    background: #d9d9d9;
    bottom: 0%;
    z-index: 1;
}
.next_arrow:hover{
    background: #244d4d;
}

.carousel-icon{
    color: #fff;
}
.slides-box{
    height: fit-content;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: first baseline;

    width: 100%;

}
.slides-box-two{
    margin-top: 4rem;
}
.rating-main{
    font-weight: 500;
    font-family: Jost, sans-serif;
    color: #595959;
    font-size: 1.1rem;
    line-height: 1.75rem;
    letter-spacing: 0.4px;
    max-width: 26.1rem;
    margin-top: 1.68rem;
    padding-bottom: 1.8rem;


}
.rating-author{
    width: 100%;
    display: flex;
}
.author-img{
    border-radius: 50%;
}
.name-post{
    display: flex;
    margin-left: 1rem;
    flex-direction: column;
}
.name{
    margin-bottom: 0.6rem;
    font-family: Jost, sans-serif;
    color: #244d4d;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;

}
.company{
    font-size: 0.87rem;
    font-family: Jost, sans-serif;
    line-height: 0.87rem;
    letter-spacing: 0.4px;
}
.why-choose-us{
    width: 100%;
    background: #fff;
    height: fit-content;
    z-index: 1;
}
.choose-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 4rem;
}
.choose-key-points{
    width: 100%;
    display: flex;
    gap: 2rem;

}
.choose-key-point-text{
    display: flex;
    flex-direction: column;
}
.key-point-head{
    /* margin-top: 1.9rem; */
    font-size: 2rem;
    font-family: "DM Serif Display", serif;
    line-height: 2.25rem;
    color: #232323;
}
.key-point-main{
    margin-bottom: 0px;
    font-family: Jost, sans-serif;
    color: #595959;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.4px;
}
.choose-right{
    width: 100%;
    gap: 1rem;
    display: flex;
}
.choose-right-img-box{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.choose-right-img-1{
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}
.choose-right-img-2{
    border-top-left-radius: 5rem;
}
.choose-right-img-3{
    
    border-top-right-radius: 5rem;
}
.blog{
    width: 100%;
    background: #fff;
    height: fit-content;
    z-index: 1;
}
.blog-top-left{
    width: 100%;
    height: 100%;
}
.blog-top-img{
    width: 100%;
}
.blog-top-right{
    display: flex;
    padding: 0rem 0rem;
    justify-content: start;
    align-items: first baseline;
    flex-direction: column;
}
.blog-h2{
    font-family: "DM Serif Display", serif;
    color: #244d4d;
    margin-bottom: 1.9rem;
    font-size: 3.5rem;
    line-height: 4.12rem;
}
.blog-main{
    margin-bottom: 0px;
    font-family: Jost, sans-serif;
    color: #595959;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.4px;
}
.blog-bottom-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: first baseline;
}
.blog-date-author{
    display: flex;
    justify-content: start;
    font-family: Jost, sans-serif;
    font-size: clamp(0.9rem,2vw,1rem);
    gap: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: #595959;
    align-items: first baseline;
}
.author{
    height: fit-content;
    width: fit-content;
    position: relative;
}
.author::after{
    content: '';
    position: absolute;
    left: -0.5rem;
    top: 0;
    width: 0.5px;
    height: 100%;
    background: #595959;
}
.blog-bottom-h3{
    margin-top: 0.95rem;
    margin-bottom: 1.25rem;
    line-height: 2.8rem;

    font-family: 'DM Serif Display', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    transition: color .6s ease-in-out;
}
.blog-bottom-h3:hover{
    color: #244d4d;
}
.blog-bottom-link{
    text-decoration: none;
    color: #595959;
    display: flex;
    justify-content: center;
    font-weight: 400;
    align-items: center;
    font-family: Jost, sans-serif;
    font-size: clamp(0.9rem,2vw,1.1rem);
    transition: color .6s ease-in-out;
}
.blog-bottom-link:hover{
    color: #244d4d;
}
.blog-bottom-icon{
    font-size: 1.5rem;
}
.blog-bottom-right{
    display: flex;
    gap: 1rem;
}
.blog-bottom-img-box{
    max-width: 100%;
    width: 50%;
    overflow: hidden;
    height: fit-content;
}
.blog-bottom-img-box:hover .blog-bottom-img{
transform: scale(1.1);
}
.blog-bottom-img{
    transition: transform .6s ease-in-out;
    width: 100%;
}
.newsletter{
    width: 100%;
    text-align: center;
    height: fit-content;
    z-index: 1;
    background: #fff;
}
.newsletter-wrapper{
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newsletter-h2{
    font-family: "DM Serif Display", serif;
    color: #244d4d;
    margin-bottom: 1.9rem;
    font-size: 3.5rem;
    line-height: 4.12rem;
    margin-top: 5dvh;
    max-width: 800px;
    text-align: center;
}
.newsletter-main{
    margin-bottom: 0px;
    font-family: Jost, sans-serif;
    color: #595959;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
    letter-spacing: 0.4px;
    max-width: 590px;
}
.newsletter-form{
    width: 100%;
    position: relative;
    max-width: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 5dvh;
    display: flex;
    height: fit-content;
}
.newsletter-input{
    width: 100%;
    padding: 0rem 10rem 0rem 2.5rem;
    background: #f4f4f4;
    height: 5rem;
    /* height: clamp(3rem, 2.071vw + 2.515rem, 5rem); */
    border: none;
}
.newsletter-input:focus{
    outline: 1px solid #232323;
}
.newsletter-input::placeholder{
    font-family: Jost, sans-serif;
    color: #595959;
}
.newsletter-btn{
    position: absolute;
    right: 0;
    min-width: 140px;
    border: none;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    height: 3.75rem;
    /* height: clamp(2rem, 2.071vw + 1.515rem, 4rem); */
    background: #244d4d;
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 0.4px;
    font-weight: 500;
    line-height: 1.1rem;
    font-family: Jost, sans-serif;
    text-transform: capitalize;
}
.footer{
    width: 100%;
    z-index: 1;
    height: fit-content;
    background-color: #244d4d;
    background-image: url('image/footer-bg.svg');
}
.footer-row{
    height: fit-content;
}
.footer-first{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: transparent;
    position: relative;
}

.footer-logo-txt{
    font-size: 1.8rem;
    letter-spacing: 1px;
font-family: "DM Serif Display", serif;
color: #fff;
}
.footer-first-txt{
    margin-top: 1rem;
    font-family: Jost, sans-serif;
    color: #fff;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    width: 100%;
    text-align: left;
    letter-spacing: 0.4px;
}
.footer-first-hour-block{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.footer-first-hour-block-title{
    height: fit-content;
     margin-bottom: 0.5rem;
     font-family: "DM Serif Display", serif;
    color: #fff;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    width: 100%;
    text-align: left;
    letter-spacing: 0.4px;
}
.footer-first-hour-block-days{
    height: fit-content;
    display: flex;
    flex-direction: column;
     margin-bottom: 0px;
    font-family: Jost, sans-serif;
    color: #fff;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 400;
    width: 100%;
    text-align: left;
    letter-spacing: 0.4px;
}
.footer-nav{
    width: 100%;
    height: fit-content;
    position: relative;
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(3,1fr);
}
.footer-second{
    width: 100%;
    /* padding-left: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: first baseline;
    position: relative;
}

.footer-nav-title{
    font-size: 1.5rem;
    font-family: "DM Serif Display", serif;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.4px;
}
.footer-nav-link-box{
    display: flex;
    margin-top: 4dvh;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
}
.footer-nav-link{
    text-decoration: none;
    color: #fff;
    font-family: Jost, sans-serif;
    font-weight: 500;
    transition: color .6s ease-in-out;
}
.footer-nav-link:hover{
    color: #f60;
}
.footer-contact-links{
    display: flex;
    margin-bottom: 2dvh;
    flex-direction: column;
}
.footer-contact-text{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: Jost, sans-serif;
    font-weight: 500;
    margin-bottom: 2dvh;
}
.footer-address{
    color: #fff;
    font-family: Jost, sans-serif;
    font-weight: 500;
}
.footer-bottom{
    width: 100%;
    font-family: Jost, sans-serif;
    font-size: 0.85rem;
    padding: 1rem 0rem;
    z-index: 1;
    font-weight: 400;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.footer-bottom-link{
    text-decoration: none;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    color: #244d4d;
    font-weight: 600;
    transition: color .6s ease-in-out;
}
.footer-bottom-link:hover{
    color: #f60;
}
@media screen and (min-width:991px) and (max-width:1199px){
    .text h1{
        font-size: 3.3rem;
    }
    .welcome-h2{
        font-size: 3rem;
    }
    .project-right-h2{
        font-size: 2.8rem;
    }
}
@media screen and (max-width:991px){
    .text-box{
        order: 1;
    }
    .img-box{
        order: 2;
    }
}
@media screen and (max-width:767px){
    .navbar-scroll{
        height: fit-content;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .service-h2{
        font-size: 3.2rem;
    }
    .newsletter-h2{
        font-size: 3.2rem;

    }
    .blog-h2{
        font-size: 3.2rem;
    }
    .key-point-head{
        font-size: 3.2rem;

    }
    .happy-customer-left-h2{
        font-size: 3.2rem;
    }
    .footer-nav{
        width: 100%;
        height: fit-content;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .footer-contact-box{
        grid-column: span 2;
    }
    /* .project-left-h3{
        font-size: 1.75rem;
    } */
}
@media screen and (max-width:576px) {
    .text h1{
        font-size: 3rem;
    }
    .service-h2{
        font-size: 2rem;
        line-height: 2.7rem;
    }
    .newsletter-h2{
        font-size: 2rem;
        line-height: 2.7rem;

    }
    .blog-h2{
        
        font-size: 2rem;
        line-height: 2.7rem;
    }
    .choose-h2{
        font-size: 2rem;
    }
    .key-point-head{
        font-size: 2rem;
        line-height: 2.7rem;

    }
    .happy-customer-left-h2{
        font-size: 2rem;
        line-height: 2.7rem;
    }
}
@media screen and (min-width:375px) and (max-width:576px) {
    .welcome-h2{
        font-size: 2.7rem;
    }
    .project-right-h2{
        font-size: 2.5rem;
        line-height: 3rem;
    }
}
@media screen and (max-width:479px){
    /* .project-left-h3{
        font-size: 1.5rem;
    } */
    .project-images-wrapper{
        flex-direction: column;
        justify-content: center;
        
        align-items: center;
    }
    .project-img-wrapper{
        width: fit-content;
    }
    .project-left{
        padding: 1.1rem 1rem 1.25rem 1.9rem;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
    }
    .newsletter-btn{
        position: relative;
        right: 0;
        width: fit-content;
        border: none;
        top: 0%;

        transform: translateY(0%);
   
      
    }
    .newsletter-input{
        width: 100%;
        padding: 0rem 5rem 0rem 2.5rem;
       
        height: 5rem;
        
      }
}
@media screen and (max-width:420px) {
    .welcome-right{
        height: 75dvh;
        
    }
    
}
@media screen and (max-width:415px) {
    .project-right-h2{
        font-size: 2rem;
        line-height: 3rem;
    }
    .newsletter-h2{
        font-size: 1.8rem;
        line-height: 2.7rem;

    }
}
